h1 {    color: #2784F5;
   }
ul {    color: #2784F5;
        text-align: center;  
        margin-left: 50px;
   }
h2 {    color: #2784F5;
        text-align: center;  
   }
h3 {    color: #4A6382;
   }
